body {
    background: black;
}

.crystal.image{
    margin: 20px;
}

 
.card {
 
    margin: 0 auto;
    font-family:fantasy;
    font-size: 20px;

  }
  .crystal-image {
    width: 300px;
    height: 300px;
    margin: 50px; 
    clear: both
  }
  .jumbotron {
    text-align: center;
    font-family: fantasy;
    margin-bottom: -40px;
  }
